@media screen and (max-width:768px){
    

    /* Partie de l'entête LOGO + NAV */

header{
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
}
#logo{
    margin-left: 50px;
}
nav{
    width: 100%;
    flex-direction: column-reverse;
    align-items: unset;   
}    
nav ul{
    width: 100%;
    padding: 0;    
}
nav ul li a{
    font-weight: bold;
}
nav li{
    width: 50%;
    text-align: center;   
}
.h{
    padding-bottom: 15px;
    border-bottom: 3px solid #0065FC;
}
.a{
    padding-bottom: 15px;
    border-bottom: 3px solid #f2f2f2;
}
#heberg{
    border-top: none;
}
#inscri{
    position: absolute;
    top: 45px;
    left: 85%;
}

    /* Partie du premier article de la premiere section ( BARRE DE RECHERCHE )*/

#txt{
    width: 90%;
}
#search{
    display: none;
}
#search1{
    position: absolute;
    right: 5%;
    display: block;
    height: 50px;
    width: 50px;
    font-size: 1.1em;
    background-color: #0065FC;
    border: 2px solid #0065FC;
    color: white;
    border-radius: 15px;   
}

    /* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

.filtr{
    flex-direction: column;
    flex-direction: column;
}
#filtre{
    margin: unset;
    padding: unset;
}
#filtre li{
    margin: 10px 20px 10px 0px;
}
.titrefiltre{
    position: unset;
}
    /* PARTIE HEBERGEMENT */
.marseille{
    padding-left: 0px;
}
#herbegement{
    margin: 0px;
}
.titremar{
    padding: 3% 0% 3% 7%;
}
.heberg{
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
    border: 1px solid #f2f2f2;
}
.imgheberg{
    height: 200px;
}
.affplus{
    padding-left: 7%;
}

    /* PARTIE POPULAIRE */

#populaire{
    display: flex;
    flex-direction: column;
}
.pop{
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
}
.titrepop{
    padding-bottom: 15px;
    margin: 0% 8% 0% 8%;
    
}
    /* PARTIE ACTIVITES A MARSEILLE */

#activite{
    margin-left: 48px;
    margin-right: 48px;
}
.activ{
    width: 100%;
    margin-bottom: 40px;
}
#imga2, #imga3, #imga5, #imga6, .imgactiv{
    height: 250px;
}
#imga3, #imga6{
    margin-top: 40px;
}

    /* FOOTER */

.baspage {
    flex-direction: column;
}






}
