body{
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}
header, main{
    font-family: 'Raleway', Arial, sans-serif;
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
}
.bleu{
    color: #0065FC;
}
.gris{
    color: #F2F2F2;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}

    /* Partie de l'entête LOGO + NAV */

header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logo{
    width: 100px;
	height: auto;
    padding-top: 30px;
}
nav{
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li a{
    margin: 50px 30px 0px 0px;
}
#inscri{
    color: #0065FC;
    font-weight: bold;
}
#heberg{
    color: #0065FC;
    border-top: 2px solid #0065fc;
    padding-top: 29px;
}

    /* Partie du premier article de la premiere section ( BARRE DE RECHERCHE )*/

.div h1{
    font-size: 1.4em;
}
.section p{
    font-size: 0.9em;
}
form{
    display: flex;
    height: 50px;
}
.pos{
    padding: 17px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#txt{
    height: 50px;
    font-family: "Raleway", sans-serif;
    padding: 10px;
    border: 1px solid #F2F2F2;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}
#search{
    display: initial;
    height: 50px;
    font-size: 1.1em;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#search1{
    display: none;
}

    /* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

.filtr{
    display: flex;
}
#filtre{
    display: flex;
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 30px;
}
#filtre li{
    display: flex;
    margin: 10px 10px 0px 10px;
    border-radius: 40px;
    border: 2px solid #F2F2F2;
    border-left: none;
}
#filtre li:hover{
    background-color: #DEEBFF;
}
.titrefiltre{
    position: absolute;
    margin-top: 45px;
}
#filtre li i{
    background-color: #DEEBFF;
    min-width: 20px;
    padding: 15px;
    border-radius: 50px;
}
.boutton{
    background-color: white;
    height: 45px;
    font-weight: bold;
    font-size: 1.1em;
    border:none;
    border-radius: 40px;
}
.boutton:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.section p i{
    padding: 5px 10px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
}

    /* PARTIE HEBERGEMENT ET LES PLUS POPULAIRES */

.section1{
    display: flex;
    justify-content: space-between;
}
.etoile{
    display: flex;
}
h3{
    font-weight: bold;
    font-size: 15px;
}
p{
    font-size: 15px;
    margin-bottom: 20px;
}

    /* PARTIE HEBERGEMENT */

.marseille{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F2F2F2;
    width: 70%;
    height: auto;
    border-radius: 20px;
}
.titremar{
    padding: 25px 0px 0px 40px;
}
#hebergement{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    flex-wrap: wrap;
    margin: 20px;
    padding-left: 0px;
}
.heberg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    height: auto;
    width: 30%;
    box-shadow: 5px 5px 5px 1px grey;
    padding: 5px;
    padding-bottom: 15px;
    border-radius: 20px;
    margin-bottom: 40px;
}
.lienherberg{
    width: 100%;
}
.imgheberg{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.txtheber{
    width: 90%;
    padding-left: 15px;
    font-size: 0.8em;
}
.txtheber h3{
    font-size: 1.1em;
}
.txtheber p{
    font-size: 0.9em;
}
.affplus {
    text-decoration: none;
    color: black;
    font-weight: bold;
    line-height: 40px;
    padding-left: 25px;
}

    /* PARTIE POPULAIRE */

#populaire{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding-left: 0px;
    width: 90%;
}
.popu{
    height: auto;
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 25%;
}
.pop{
    background-color: white;
    height: auto;
    width: 90%;
    box-shadow: 5px 5px 5px 1px grey;
    border: 5px solid white;
    margin-bottom: 35px;
    border-radius: 20px;
}
.lienpop{
    display: flex;
    width: 100%;
}
.imgpop{
    width: 40%; 
    height: 140px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.txtpop{
    padding-left: 15px;
    font-size: 0.8em;
}
.txtpop h3{
    font-size: 1.1em;
}
.txtpop p{
    font-size: 0.9em;
}
.titrepop{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 25px;
}
.graph{
    padding-top: 25px;
    margin-right: 40px;
    font-size: 1.4em;
}

    /* PARTIE ACTIVITES A MARSEILLE */

.active{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}
.activ{
    height: 100%;
    width: 23%;
    border-radius: 25px;
}
.bigactiv{
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: black;
}
.smallactiv{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    text-decoration: none;
    color: black;
}
.imgactiv{
    width: 100%;
    height: 450px;
    object-fit: cover;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.imgactiv2{
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
#imga2{
    height: 240px;
}
#imga3{
    margin-top: 40px;
    height: 120px;
}
#imga5{
    height: 180px;
}
#imga6{
    margin-top: 40px;
    height: 180px;
}
.soutitre{
    width: 95%;
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: unset;
    border: 1px solid #F2F2F2;
    border-top: none;
    padding-left: 5%;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
} 

 /* FOOTER */

.baspage{
    display: flex;
    background-color: #f2f2f2;
    margin-top: 40px;
    padding-left: 45px;
    padding-bottom: 30px;
}
.baspage div{
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.titraide{
    font-weight: bold;
    font-size: 1.1em;
}
.aide{
    display: block;
    text-decoration: none;
    color: black;
    line-height: 30px;
}
