html{
    font-family: 'Raleway', sans-serif;
}
.section {
    margin-left: 50px;
}
/* Partie de l'entête Logo+Nav*/

header{
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 100px;
	height: auto;
    margin: 50px;
}
nav{
    width: 35%;
    display: flex;
    justify-content: space-around;
    padding-right: 15px;
    font-size: 1.1em;
}
header a{
    color: #0065FC;
    text-decoration:none;      
}
#inscri{
    margin-top: 50px;
    font-weight: bold;
}
#heberg{
    border-top: 2px solid #0065fc;
    padding-top: 48px;
}
#act{
    margin-top: 50px;
    color: black;
}

/* Partie du premier article de la premiere section ( BARRE DE RECHERCHE )*/

form{
    width: 420px;
    display: flex;
}
form i{
    padding: 17px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
form {
    height: 50px;
}
#search{
    padding: 10px;
    width: 234px;
    border: 1px solid #F2F2F2;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}
#bouton{
    width: 134px;
    font-size: 1.1em;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
main section p{
    font-size: 0.9em;
}

/* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

#filtre{
    display: flex;
    font-weight: bold;
    list-style: none;
    padding-top: 50px;
    font-size: 1.1em;
    margin-bottom: 40px;
}
#filtre li{
    margin-right: 25px;
    height: 50px;
}
#filtre li i{
    color:#0065FC; 
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #DEEBFF;
    border-radius: 40px;
}
#filtre li p{
    margin-right: 30px;
}
.boutton{
    width: auto;
    height: 50px;
    font-weight: bold;
    font-size: 1.1em;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-left: none;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}
.boutton:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.section p i{
    padding: 5px 10px;
    margin-right: 10px;
    color: #0065FC;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
}

/* Partie Hebergement et les plus populaire*/

.section1{
    display: flex;
}
.article{
    display: flex;
    margin-left: 40px;
}
.liste{
    list-style: none;
    background-color: #F2F2F2;
    border-radius: 20px;
}
#hebergement{
    display: flex;
    flex-wrap: wrap;
    width: 880px;
}
#populaire{
    display: flex;
    flex-direction: column;
    width: 420px;
}
#hebergement li h2{
    margin: 40px 400px 30px 0px; 
}
.heberg{
    width: 245px;
    height: 200px;
    background-color: white;
    margin-right: 30px;
    border-radius: 20px;
}
.imgheberg{
    width: 235px; 
    height: 114px;
    border: 5px solid white;
    border-bottom: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.txtheber{
    padding-left: 15px;
    line-height: 6px;
    font-size: 0.8em;
}
.pop{
    display: flex;
    width: 345px;
    height: 144px;
    background-color: white;
    margin-bottom: 34px;
    border-radius: 20px;
}
.imgpop{
    width: 127px; 
    height: 134px;
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.txtpop{
    padding-left: 15px;
}
.liste .fas{
    color: #0065FC;
}
.liste span .fas{
    color: #F2F2F2;
}
.liste li a{
    display: flex;
    justify-content: space-between;
}
.liste a .fas{
    color: black;
    margin-top: 25px;
    margin-right: 40px;
    font-size: 1.4em;
}





























/*
.class{
    pour les class 
border-left: 5px solid white;
border-right: 5px solid white;
border-top: 5px solid white;
border-radius: 10px solid white;
} */
/* .class:hover{ (survoler)
    color: green;
    border-left: 3px solid black;
}
.class:active{ 
    color:red;
}
.class:visited{ (lien visiter)
    color: none;
}   */


/*  font-size: 14px; taille d'un texte flat
    font-size: large; taille d'un texte relative 
    Font-size: 1.0em taille d'un texte relative mais plus flexible avec plus de valeur */