html, body, header, section, footer{
    font-family: 'Raleway', Arial, sans-serif;
    margin: 0;
}
header, section {
    margin-left: 50px;
    margin-right: 50px;
}
.bleu{
    color: #0065FC;
}
.gris{
    color: #F2F2F2;
}

/* Partie de l'entête Logo+Nav*/

header{
    display: flex;
    width: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
#logo{
    width: 100px;
	height: auto;
    margin-top: 50px;
}
nav{
    display: flex;
    align-items: center;
    font-size: 1.1em;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-top: 50px;
    padding-right: 30px;
}
header a{
    color: #0065FC;
    text-decoration:none;      
}
#inscri{
    margin-top: 50px;
    font-weight: bold;
}

#heberg{
    border-top: 2px solid #0065fc;
    padding-top: 48px;
}
#act{
    color: black;
}

/* Partie du premier article de la premiere section ( BARRE DE RECHERCHE )*/

.section h1{
    font-size: 1.4em;
}
.section p{
    font-size: 0.9em;
}
form{
    display: flex;
    height: 50px;
}
.pos{
    padding: 17px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#txt{
    padding: 10px;
    border: 1px solid #F2F2F2;
    font-size: 1.1em;
    font-weight: bold;
    color: black;
}
#search{
    display: initial;
    height: 50px;
    font-size: 1.1em;
    background-color: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#search1{
    display: none;
}

/* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

#filtr{
    display: flex;
    align-items: center;
}
#filtre{
    display: flex;
    font-weight: bold;
    list-style: none;
    font-size: 1.1em;
}
#filtre li{
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px 10px 0px 10px;
    border-radius: 40px;
    border: 2px solid #F2F2F2;
    border-left: none;
}
#filtre li:hover{
    background-color: #DEEBFF;
}

#filtre li p{
    margin-right: 30px;
}
#filtre li i{
    background-color: #DEEBFF;
    min-width: 20px;
    padding: 15px;
    border-radius: 50px;
}
.boutton{
    background-color: white;
    height: 45px;
    font-weight: bold;
    font-size: 1.1em;
    border:none;
    border-radius: 40px;
}
.boutton:hover{
    color: #0065FC;
    background-color: #DEEBFF;
}
.section p i{
    padding: 5px 10px;
    margin-right: 10px;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 15px;
}

/* Partie Hebergement et les plus populaire*/

.section1{
    display: flex;
    margin: 40px;
}
.liste{
    list-style: none;
}
.marseille{
    margin-right: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.popu{
    margin-right: 40px;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.titremar{
    padding: 25px 0px 0px 40px;
}
#hebergement{
    display: flex;
    flex-wrap: wrap;
    width: 840px;
}
.heberg{
    width: 245px;
    height: 200px;
    background-color: white;
    margin-right: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}
.imgheberg{
    width: 235px; 
    height: 114px;
    object-fit: cover;
    border: 5px solid white;
    border-bottom: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.txtheber{
    padding-left: 15px;
    line-height: 6px;
    font-size: 0.8em;
}
.affplus {
    padding: 20px 0px 20px 40px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.etoile{
    display: flex;
}
.pop{
    display: flex;
    width: 345px;
    height: 144px;
    background-color: white;
    margin-right: 40px;
    margin-bottom: 34px;
    border-radius: 20px;
}
.imgpop{
    width: 127px; 
    height: 134px;
    object-fit: cover;
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.txtpop{
    padding-left: 15px;
    font-size: 0.8em;
}
.titrepop{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-top: 25px;
}
.graph{
    padding-top: 25px;
    margin-right: 40px;
    font-size: 1.4em;
}





























/*
.class{
    pour les class 
border-left: 5px solid white;
border-right: 5px solid white;
border-top: 5px solid white;
border-radius: 10px solid white;
} */
/* .class:hover{ (survoler)
    color: green;
    border-left: 3px solid black;
}
.class:active{ 
    color:red;
}
.class:visited{ (lien visiter)
    color: none;
}   */


/*  font-size: 14px; taille d'un texte flat
    font-size: large; taille d'un texte relative 
    Font-size: 1.0em taille d'un texte relative mais plus flexible avec plus de valeur */