@media screen and (max-width:991px){
    
/* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

#filtre{
    margin: 10px;
}
#filtre li{
    margin-right: 10px;
}
#filtre li p{
    margin-right: 15px;
}
/* Partie Hebergement et les plus populaire*/

.section1{
    flex-direction: column-reverse;
}
.popu{
    margin-bottom: 40px;
    justify-content: space-evenly;
}
#hebergement{
    flex-direction: column;
    max-height: 690px;
    width: auto;
    align-items: center;
}
#populaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}

}