@media screen and (max-width:1200px){
    
    /* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

#filtre{   
    flex-wrap: wrap;
}
#filtre li{
    margin-right: 10px;
    
}
#filtre h3{
    position: absolute;
    margin-top: 15px;
}

    /* PARTIE HEBERGEMENT ET LES PLUS POPULAIRES */

.section1{
    flex-direction: column-reverse;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
}
.marseille{
    background-color: white;
    margin: auto;
}
.heberg{
    box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.popu{
    width: 100%;
    box-shadow: 5px 5px 5px 1px #f2f2f2;
    margin-bottom: 40px;
    border-radius: 0;
}
#populaire{
    flex-direction: column;
    margin: auto;
    align-items: center;
    padding-left: 0px;
    
}
.pop{
   width: 90%;
   
}

    /* PARTIE ACTIVITES A MARSEILLE */

.active{
    margin-right: 0px;
    flex-wrap: wrap;
    
}
.activ{
    width: 40%;
    margin: auto;
    margin-bottom: 40px;
}



}