@media screen and (max-width:1200px){
    
    /* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

#filtre{   
    flex-wrap: wrap;
}
#filtre li{
    margin-right: 10px;
}

    /* PARTIE ACTIVITES A MARSEILLE */

.active{
    margin-right: 0px;
    flex-wrap: wrap;
}
.activ{
    width: 45%;
    margin-bottom: 40px;
}



}
