
/* Partie du deuxieme article de la premiere section ( PARTIE FILTRES ) */

#filtre{
    margin: auto;
}
#filtre li{
    margin-right: 10px;
}
#filtre li p{
    margin-right: 15px;
}
/* Partie Hebergement et les plus populaire*/

.section1{
    flex-direction: column-reverse; 
}
#hebergement{
    display: flex;
    flex-direction: column;
    width: 420px;
}
.heberg{
    display: flex;
    width: 345px;
    height: 144px;
    margin-right: 0px;
    margin-bottom: 34px;
}
.imgheberg{
    width: 127px; 
    height: 134px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 15px;
}
.txtheberg{
    padding-left: 15px;
    line-height: normal;
    font-size: medium;
}